.container {
  background-color: var(--background-color);
  width: 50%;
  margin: auto;
  /* height: 260 */
  padding: 25px 0 60px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  direction: rtl;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.container .header h2 {
  padding-top: 20px;
  position: relative;
  color: var(--dark-color);
  display: flex;
  justify-content: center;
  font-size: 45px;
}
.container .header h2::before {
  content: "";
  position: absolute;
  width: 14%;
  height: 2px;
  top: 62%;
  right: 3%;
  border-radius: 100%;
  background-color: var(--blue-color);
}
.container .header h2::after {
  content: "";
  position: absolute;
  width: 14%;
  height: 2px;
  top: 62%;
  left: 3%;
  border-radius: 100%;
  background-color: var(--blue-color);
}
.container .content {
  padding: 20px;
  font-size: 16px;
  text-align: center;
  color: var(--dark-color);
  opacity: 0.8;
}
